{% load static%}

        <nav class="navbar">
            <ul class="navul">
                <li id="first"><a href=""> SAVE MORE ON APP</a></li>
                <li><a href="">BAZAAR AFFILIATE PROGRAM</a></li>
                <li><a href="">SELL ON BAZAAR</a></li>
                <li><a href="">CUSTOMER CARE</a></li>
                <li><a href="">TRACK MY ORDER</a></li>
                <li><a href="">LOGIN</a></li>
                <li><a href="">SIGNUP</a></li>
            </ul>
        </nav>
        <div class="scar">
            <form class="scart" action="" method="post">
                <a href="">
                    <img id="logo" src="{%static 'images/logo.png'%}" alt="">
                </a>
                <input id="search" type="text" placeholder="Search in Bazaar">
            <button class="sbutton" type="submit">Click</button>
            <a href="">
                <img id="cart" src="{%static 'images/cart.png'%}" alt="">
            </a>    
        </form>
            
        </div>